* {
  font-family: "Circular", "-apple-system", "BlinkMacSystemFont", "Roboto",
    "Helvetica Neue", sans-serif;
  line-height: 20px;
}

body {
  font-size: 14px;
  width: 412px;
  color: #222;
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;

/* Nav Section */

.nav-section {
  border-bottom: solid 2px #ebebeb;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

/* search button section */

.searchButton-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 314px 40px;
  padding: 14px 24px 0;
}

.searchButton-wrapper {
  width: 312px;
  height: 54px;
}

.searchButton {
  display: grid;
  align-items: center;
  text-align: start;
  grid-template-columns: 52px 252px;
  width: 312px;
  height: 54px;
  border: 1px solid #22222215;
  border-top-right-radius: 1000px;
  border-top-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0 0 0/0.1);
  padding: 0;
}

.searchIcon {
  display: grid;
  align-items: center;
  width: 52px;
  height: 20px;
  justify-items: center;
}

.searchButton-Main_text {
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  line-height: 20px;
}

.searchButton-Sub_text-container {
  display: flex;
  column-gap: 5px;
  padding-right: 24px;
  height: 16px;
}
.searchButton-Sub_text {
  font-size: 12px;
  color: #717171;
  line-height: 16px;
}

/* filter button */

.filterButton-wrapper {
  align-self: center;
}

.filterButton {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border: solid 1px #76767660;
  border-radius: 50%;
}

.filterButton svg {
  margin: 0 auto;
}

/* quick find buttons */

.quickFind-section{
  height: 74px;
  display: flex;
  gap: 15px;
}

.quickFind-buttons:nth-child(1){
  margin-left: 15px;
}

.quickFind-buttons {
  border: none;
  background-color: #fff;
  margin: 12px 0 10px;
  padding: 4px 0;
}

.quickFind-buttons p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: #717171;
}

.quickFind-icons {
  height: 24px;
  width: 24px;
  opacity: 0.7;
}

/* Ads section */

.ads-section{
  position: relative;
  height: 3000px;
  top: 150px;
}

.ads-container{
  width: 364px;
  padding: 0 24px;
  margin: 24px 0 32px 0;
}

.ads-wrapper{
  width: 100%;
  height: 448px;
  margin-bottom: 40px;
  
}

.img-wrapper{
  height: 345px;
  border-radius: 12px;
  overflow: hidden;
}

.ads-image{
  position: relative;
  right: 85px;
  width: 500px;
  height: 345px;
}

.ads-information {
  display: grid;
  grid-template-columns: 309.766px 46.2344px;
  grid-template-rows: 19px 19px 19px 25px 0px;
  column-gap: 8px;
  margin-top: 10px;
  font-size: 15px;
  
}

.ads-title{
  grid-column-end: 1;
  grid-column-start: 2;  
  font-weight: 500; 
  height: 19px;
}

.ads-rating {
  display: flex;
  align-items: center; 
  height: 19px;
  grid-column-end: -1;
  grid-column-start: -2;
  grid-row-end: auto;
  grid-row-start: 1;
}
.ads-rating_star{
  margin-right: 5px; 
  height: 19px;
  margin-top: 5px;
}

.ads-description{
  grid-column-end: -1;
  grid-column-start: 1; 
  height: 19px;
  
}

.ads-price {
  text-decoration: underline;
}

.ads-price_bold{
  font-weight: 500;
}

/* Bottom Navbar */

.bottom-navbar_section{
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 64px;
  border-top: 1px solid #22222215;
  transition: transform 0.5s;
}

.bottom-navbar_container{
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-navbar_wrapper{
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.quickFind-buttons_bottom-navbar {
  width: 82px;
  height: 44px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: none;
}

.quickFind-buttons_bottom-navbar svg{
  margin: 0 auto;
  line-height: 20px;
  margin-bottom: 5px;
  opacity: 0.7;
}

.quickFind-buttons_bottom-navbar p {
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  opacity: 0.7;
}

.hidden{
  transform: translateY(70px);

}